---
import '../styles/base.css'
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="About in/acc" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
	<script is:inline src="/toggle-theme.js"></script>
	<script async defer data-website-id="e7ac47fa-2bb4-4e3a-badb-db35ef2b9b12" src="https://u.dhr.wtf/umami.js"></script>
  </head>
  <body data-theme="dark">
    <main data-theme="dark" id="main-content">
      <section id="about" class="prose mb-28 max-w-3xl prose-img:border-0">
        <slot />
      </section>
    </main>
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
